body{
    width: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.div1{
    width: 500px;
    height: 500px;


  

    
    background-color: rgb(3, 22, 30);
            
}
.div2{
    width: 500px;
    height: 500px;
    background-color: rgb(55, 55, 73);
    transition: width 4s ;


}
.div2:hover{
width: 0;
}